@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
#root,
#defaultLayout,
#guestLayout {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #212121;
    background-color: #f6f6f6;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus {
    border-color: #10277C;
}

.btn {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #10277C;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btnBlock {
    width: 100%;
}

.btnLogout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}

.btnLogout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #10277C;
}

.outlineButton {
    display: inline-block;
    border: 2px solid #10277C;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: #10277C;
    transition: background-color 0.3s ease;
}

.profileIcon {
    margin-right: 15px;
    margin-left: 15px;
}

.textCenter {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table>thead>tr>th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table>tbody>tr>td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.loginSignupForm {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSignupForm .form {
    width: 360px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 34px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.loginSignupForm .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.loginSignupForm .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.loginSignupForm .form .message a {
    color: #10277C;
    text-decoration: none;
}

/* Login/Signup form */


#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 240px;
    background-color: #10277C;
    padding: 1rem
}

#defaultLayout aside>a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside>a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
}

.infoToast {
    position: fixed;
    bottom: 20px;
    right: 2%;
    z-index: 1000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #ccc;
    transition: all 0.5s;
    min-width: 100px !important;
    background-color: #00cd00;
}

.errorToast {
    position: fixed;
    bottom: 20px;
    right: 2%;
    z-index: 1000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #ccc;
    transition: all 0.5s;
    min-width: 100px !important;
    background-color: #f74101;
}

.toast-close {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
    color: #ccc;
}

.toast-close:hover {
    color: #000;
}

.headerTitle {
    font-weight: bold;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.todoTitlehint {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.todoLoading {
    color: #fff;
}

.TodoWrapper {
    background: #10277C;
    padding: 2rem;
    border-radius: 5px;
    min-height: 80vh;
}

.TodoForm {
    width: 100%;
}

.todoInput {
    outline: none;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 90%;
    color: #fff;
}

.todoInput:focus {
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.todoInput::placeholder {
    color: #ffffff4d;
}

.todoBtn {
    background: #ffffff;
    color: #10277C;
    border: none;
    border-radius: 5px;
    padding: 0.65rem;
    margin-left: 1%;
    cursor: pointer;
}

.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    color: #10277C;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 96%;
}

.iconPadding {
    margin-right: 10px;
    margin-left: 10px;
}

.actionIconPadding {
    margin-right: 10px;
    margin-left: 10px;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
}

.notCompleted {
    color: #10277C;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    .defaultLayout,
    .content {
        width: 100vw;
    }

    #defaultLayout main {
        padding: 3%;
    }

    .sidebar {
        min-height: 100vh !important;
        display: none;
        min-width: 0px;
    }

    .outlineButton {
        display: none;
    }

    .profileIcon {
        display: none;
    }

    .todoTitlehint {
        font-size: 14px;
    }

    .todoInput {
        margin-bottom: 1rem;
    }

    .todoBtn {
        margin-bottom: 1rem;
    }

    .iconPadding {
        margin-right: 0px;
        margin-left: 0px;
        display: none;
    }
}